*{
	/*border: 1px solid red;*/
}

.holder{
	width: 100%;
}

.hrow{
	width: 96%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.eventsPoster{
	width: 80%;	
	height: 500px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	box-shadow: 0px 0px 10px #607d8b;
	cursor: pointer;
}

.eventsPoster:hover{
	box-shadow: 0px 0px 20px #607d8b;
}

.eventPics{
	display: block;
	margin: 0 auto;
	width: 96%;
	height: 400px;
}

.eventTitle{
	color: #0c264f;
	text-align: center;
	margin-top: 30px;
}

@media (min-width: 1200px){
.vcol-1{
	width: 8.333%;
}

.vcol-2{
	width:16.667%;
}

.vcol-3{
	width: 25%;
}

.vcol-4{
	width: 33.333%;	
}

.vcol-5{
	width: 41.667%;
}

.vcol-6{
	width: 50%;
}

.vcol-7{
	width: 58.333%;
}

.vcol-8{
	width: 66.667%;
}

.vcol-9{
	width: 75%;
}

.vcol-10{
	width: 83.33%;
}

.vcol-11{
	width: 91.667%
}

.vcol-12{
	width: 100%;
}
}

@media(min-width: 660px) and (max-width: 1199px){
.vcol-md-1{
	width: 8.333%;
}

.vcol-md-2{
	width:16.667%;
}

.vcol-md-3{
	width: 25%;
}

.vcol-md-4{
	width: 33.333%;	
}

.vcol-md-5{
	width: 41.667%;
}

.vcol-md-6{
	width: 50%;
}

.vcol-md-7{
	width: 58.333%;
}

.vcol-md-8{
	width: 66.667%;
}

.vcol-md-9{
	width: 75%;
}

.vcol-md-10{
	width: 83.33%;
}

.vcol-md-11{
	width: 91.667%
}

.vcol-md-12{
	width: 100%;
}
}

@media(max-width: 659px){
.vcol-sl-1{
	width: 8.333%;
}

.vcol-sl-2{
	width:16.667%;
}

.vcol-sl-3{
	width: 25%;
}

.vcol-sl-4{
	width: 33.333%;	
}

.vcol-sl-5{
	width: 41.667%;
}

.vcol-sl-6{
	width: 50%;
}

.vcol-sl-7{
	width: 58.333%;
}

.vcol-sl-8{
	width: 66.667%;
}

.vcol-sl-9{
	width: 75%;
}

.vcol-sl-10{
	width: 83.33%;
}

.vcol-sl-11{
	width: 91.667%
}

.vcol-sl-12{
	width: 100%;
}
}